*{
    box-sizing: border-box
}
body{
    margin:0;
}
.fluid,.image
{
    background-color: rgb(234, 254, 255);
    width:80%;
    margin:0 10px;
    margin:0 auto;
}
.box,p,.img
{
    
    width:90%;
    margin:0 10px;
    margin:0 auto;
}
form{
    margin-left:100px;
}
.one{
    text-align: right;
}
li{
    display:inline-block;
    padding: 10px;
    
}

.in{
    width:220px;
    margin-right: 71px;
}
p{
    padding-top: 20px;
    margin-left: 100px;
    color:rgb(15, 15, 15);
    
}
button{
    margin-top:10px;
    background-color: rgba(101, 8, 250, 0.849);
    color:white;
    margin-left: 100px;

}
#l1
{
    padding: 10px;
    margin-right:2px;    
}
span{
    color:rgb(76, 32, 235);
}
#form
{
    padding-top: 10px;
}
input,select{
    margin: 10px 0;
}
#h{
    margin-left: 100px;
}
.contact
{
    margin-left: 350px;
}
footer{
    width:80%;
    text-align: center;
    background-color: rgb(179, 174, 174);
    margin: 10px 135px;
}
